{
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2,
                "proseWrap": "preserve",
                "bracketSpacing": true,
                "printWidth": 80
            }
        }
    ]
}